html {
    scroll-behavior: smooth;
  }

.line {
    width: 80px;
    height: 3px;
    background-color: black;
}

.navbar {
    background: #0A1930;
    border-bottom:3px solid rgb(12, 14, 31);
    min-height: 70px;
}
.navbar li {
    -webkit-text-fill-color: #e2e2f3de;
    padding-right: 20px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.navbar-toggler-icon {
    background-color: #fff !important; 
    color: #fff !important;
}

.hero {
    height: 700;
    padding-top: 78px;
    text-align: center;
    -webkit-text-fill-color: #e2e2f3c7;
    font-family: 'Roboto Mono', monospace;
    border-top: 2px;
    border-color: #fff;
    
    
}

.info {
    border-color: #7FF2DF;
    -webkit-text-fill-color: #7FF2DF;
    background: #0A1930;
    height: 35px;
    width: 130px;
  }
  
  .info:hover {
    background: rgb(4, 104, 87);
    transition: .2s;
    transition-timing-function: linear;
    opacity: .1;
    
  }
.hero h1 {
    -webkit-text-fill-color: white;
}

.hero h3 {
    -webkit-text-fill-color: #7FF2DF;
    
}
.hero h4 {
    -webkit-text-fill-color: #7FF2DF;
}

.fade-in {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: .2s
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in2 {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: .4s
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in3 {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: .4s
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in4 {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: .5s
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in5 {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: .6s
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in6 {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:1s;
    animation-delay: .7s
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }



@media screen and (min-width: 601px) {
    .hero h1 {
      font-size: 70px;
    }
  }

  @media screen and (min-width: 601px) {
    .hero h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 600px) {
    .hero h3 {
      font-size: 15px;
    }
  }


.hero .row {
    min-height: 500px;
}
.vertical-align{
   position: relative;
   top: 35%;
   transform: translateY(-50%);
   
}
.block {
    min-width: 100px;
    text-align: left;
    padding-left: 80px;
}


.hero img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    border:  3px solid #7FF2DF;
    padding: 15px 15px 15px 15px;
    filter: grayscale(70%) brightness(60%) sepia(90%) hue-rotate(132deg) saturate(900%) contrast(0.8);
    
  }


.hero img:hover {
    border:  3px solid #7FF2DF;
    padding: 0px;
    filter: none;
    transition:  .2s;
    transition-timing-function: linear;
}

@keyframes anim1 {
    from {border:  3px solid #7FF2DF;
          padding: 15px 15px 15px 15px;
          }
    to {border:  3px solid #7FF2DF;
        padding: 0px;
        filter: none;}
}


#vline {
    width: 1px;
    height: 20px;
    background-color: #fff;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
    
}


.about {
    background: #0A1930;
    -webkit-text-fill-color: white;
    font-family: 'Roboto Mono', monospace;
}

.about p {
    padding-top: 10px;
    -webkit-text-fill-color: #e2e2f3c7;
}

.about a {
    -webkit-text-fill-color: #7FF2DF;
}



.tools{
    -webkit-text-fill-color: white;
    background: #0A1930;
    min-height: 300px;
    
}

table{
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    -webkit-text-fill-color: #e2e2f3c7;
    border-spacing: 5px;
}
td{
    padding-right: 80px;
}
.about li {
    color:#7FF2DF !important;
    list-style:none;
    position: relative;
    padding-left:25px;
    line-height: 2;
    font-size:14px;
  }
  
  .about li:before {
    position: absolute;
    left:0;
    color:#7FF2DF !important;
    font-size:14px;
    content: "\25b8";
    -webkit-text-fill-color: #7FF2DF;
  }
  

.tools h1{
    padding-bottom: 30px;
    font-family: 'Roboto Mono', monospace;
    text-align:left;
    font-size: 30px;
}
.tools img {
    height: 150;
    width: 150;
	box-sizing: border-box;
	border: 5px white solid;
    border-radius: 50%;
    color: #1087c7;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
	animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    filter: grayscale(70%) brightness(60%) sepia(90%) hue-rotate(132deg) saturate(900%) contrast(0.8);
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}



.service{
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 10px;
    -webkit-text-fill-color: blue;
}

.section1{
    background: #0A1930;
    -webkit-text-fill-color: white;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;

}

.section1 h2 {
    float: left;
    font-family: 'Roboto Mono', monospace;
   
}
.section1 h3{
    -webkit-text-fill-color: #7FF2DF;
    font-family: 'Roboto Mono', monospace;
}

.section1 img{
    height: 200px;
    width: auto;
    align-content: center;
    display: flex;
    padding-bottom: 10px;
    
}
.section1 p{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    -webkit-text-fill-color: #e2e2f3c7;
}


.section2{
    font-family: 'Roboto Mono', monospace;
    min-height: 300px;
    overflow: hidden;
    background: #0A1930;
    -webkit-text-fill-color: white;
}
.section2 h2 {
    padding-top: 20px;
    float: left;
    font-family: 'Roboto Mono', monospace;
   

}


.section2 h3 {
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 0px;
    padding-top: 0px;
    -webkit-text-fill-color: #7FF2DF;
}

.section2 img{
    padding-top: 0px;
    height: 200px;
    width: auto;
    padding-bottom: 0px;
    align-content: center;
    
}

.section2 p{
    font-family: 'Roboto Mono', monospace;
    float: left;
    -webkit-text-fill-color: #e2e2f3c7;
}

.section3{
    font-family: 'Roboto Mono', monospace;
    min-height: 450px;
    overflow: hidden;
    background: #0A1930;
    -webkit-text-fill-color: white;
}
.section3 h2{
    font-family: 'Roboto Mono', monospace;
    float: left;
    -webkit-text-fill-color: #7FF2DF;
}
.section3 p{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    -webkit-text-fill-color: #e2e2f3c7;
}

.projects h2{
    font-family: 'Roboto Mono', monospace;
    -webkit-text-fill-color: white;
    float: left;
}

  .contact{
    font-family: 'Roboto Mono', monospace;
    min-height: 400px;
    overflow: hidden;
    background: #0A1930;
   text-align: center;
    
  }

  .contact h3{
    -webkit-text-fill-color: white;
}

  .contact p{
      -webkit-text-fill-color: #e2e2f3c7
  }

  .contact .p{
    -webkit-text-fill-color: #7FF2DF;
  }

  .info1 {
    border-color: #7FF2DF;
    -webkit-text-fill-color: #7FF2DF;
    background: #0A1930;
    height: 45px;
    width: 160px;
  }
  
  .info1:hover {
    background: rgb(4, 104, 87);
    transition: .2s;
    transition-timing-function: linear;
    opacity: .1;
    
  }


 

  .projects{
      background-color: #0A1930;
      min-height: 1100px;
  }
 

   .card {
    background-color: #192A44 !important;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
    left: 5%;
    margin-right: 1px;
    border-radius: 0px !important;
    font-family: 'Roboto Mono', monospace;

  }

  .card:hover{
    transform: translateY(-8px);
    transition: .1s;
    transition-timing-function: linear;

  }

  .card .container{
      -webkit-text-fill-color: #7FF2DF;
      display: flex;
      justify-content: space-between;
  }

  .card .container a{
    -webkit-text-fill-color: #e2e2f3c7;
  }

  .card .container a:hover{
    -webkit-text-fill-color: #7FF2DF;
  }


  .card h4{
      text-align: left;
      padding: 50px 0 0 20;
      -webkit-text-fill-color: #e2e2f3de;
  }

  .card p{
    text-align: left;
    padding: 0px 0 0 20;
    -webkit-text-fill-color: #e2e2f38c;
    font-size: 14px;
  }

  .card .p{
    -webkit-text-fill-color: #7FF2DF;
  }



  .projects .row{
      text-align: center;
  }

  .projects img{
      width: 298;
      filter: grayscale(70%) brightness(60%) sepia(90%) hue-rotate(132deg) saturate(900%) contrast(0.8);
      opacity: .2;

  }

  .footer {
    background-color:rgb(2, 12, 27);
    height: 60px;
    text-align: center;
    position: relative;
    
}

.footer i{
    -webkit-text-fill-color: #e2e2f3c7;
    width: 50px;
    padding-top: 20;
}

.footer i:hover {
    -webkit-text-fill-color: #7FF2DF;
}




  .projects .container .box1{
        background-color: white;
        width: 60vw;
        height: 20;
        left: 10%;
        position: relative;
    }



  .contact .btn {
      margin-top: 20px;
      width: 150px;
      color:white;
      background-color: #ad6ce8;
  }
  

  .contact a{
      position: relative;
      margin-left: auto;
      margin-right: auto;
  }

  .contact .contain{
      display: flex;
  }
 
  .container .box{
    position: relative;
    right: auto;
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 10px;
    margin-bottom: 20px;
    left: 20%;
    float: left;
    
}
  
  .contact .box .icon {
      
      box-shadow: 3px 3px 2px #fff;
      background:#1087c7;
      transition: .5s;
      transform-origin: top;
      transform: translateY(0px) rotateX(0deg);
      border-radius: 5px;
  }

  .contact .box:hover .icon{
    transform: translateY(100%) rotateX(90deg);
  }

  .contact .box .icon .fas{
      font-size: 2em;
      line-height: 50px;
  }

  .contact .box .details {
      position: absolute;
      top: 0px;
      left: 0;
      width: 200px;
      height: 50px;
      background: #2a1d5c;
      transition: .5s;
      transform-origin: bottom;
      transform: translateY(-50px) rotateX(90deg);
      border-radius: 5px;
      box-shadow: 3px 3px 2px #fff;
  }
  .contact .box:nth-child(2) .details {
      background: red;
  }
  .contact .box:nth-child(3) .details {
    background: rgb(8, 182, 8);
}
  .contact .box:hover .details{
    transform: translateY(50%) rotateX(0deg);
  }

  .contact .box .details p{
      margin: 0;
      padding: 0;
      line-height: 50px;
      font-size: 14px;
      -webkit-text-fill-color: #fff;
  }

  .img-thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    max-height: auto;
}

.img-thumbnail img {
    width: 100%;
}




